.header {
	position: absolute;
	width: 100%;

	padding: 20px 0 30px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin: 10px 0;

		font-size: 32px;
		line-height: 110%;
		color: $color-primary;
		letter-spacing: 0.06em;
	}

	&__subtitle {
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 115%;
		color: $color-light-xl;
		letter-spacing: 0.1em;
	}

	&__menu {
		flex: 1 1 auto;
	}
}


.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;


	&__body {}

	&__list {
		display: flex;
		gap: 35px;

	}

	&__link {


		font-family: Arial, Helvetica, sans-serif;
		color: $color-dark-s;

		&:hover {
			color: $color-light-s;
			transition: all 0.3s
		}
	}

	&__link._active {
		color: $color-light-s;
		cursor: default;



		text-decoration: underline;
		text-decoration-color: $color-primary;
		text-underline-offset: 7px;
		text-decoration-thickness: 3px;
	}

	&__icon {}
}








.header {
	&._light-bg {
		background: $color-light-xl;
	}

	&__title._light-bg {
		color: $color-dark-l;
	}

	&__subtitle._light-bg {
		color: $color-dark-3xl;
	}

}

.menu {
	&__link._light-bg {
		color: $color-dark-l;

		&:hover {
			color: $color-dark-3xl;
			transition: all 0.3s
		}
	}

	&__link._light-bg._active {
		color: $color-dark-3xl;
	}

	&__icon._light-bg {}
}